@model UmbracoProject.Components.Header.HeaderViewModel

<header class="main-header">
    
    <div class="nav-panel">
        <img src="@Model.Logo.Url()" alt="logo" class="nav-panel__logo">
        <div class="nav-panel__menus">
            <div class="page-header-menu">

                @foreach (var item in Model.NavigationLinks)
                {
                    <div class="page-header-menu__item">
                        <a style="display: contents;" class="nav-link" href="@item.Url">
                            @if (item.Url == Model.CurrentUrl)
                            {
                                <span style="color: red;">@item.Name</span>
                            }
                            else
                            {
                                <span>@item.Name</span>
                            }

                        </a>
                    </div>
                }
            </div>

            <div class="lang">
                @foreach (var language in Model.LanguageLinks)
                {
                    if (language.Name == Model.CurrentCultureName)
                    {
                        <a style="margin-left: 10px; margin-right: 10px;" href="@language.Url"><span style="color: red">@language.Name</span></a>
                    }
                    else
                    {
                        <a style="margin-left: 10px; margin-right: 10px;" href="@language.Url"><span>@language.Name</span></a>
                    }
                }
            </div>
        </div>
    </div>
</header>
