@model UmbracoProject.Components.Head.HeadViewModel
@using Umbraco.Cms.Core.WebAssets
@inject IRuntimeMinifier runtimeMinifier
@{
    
    <head>
        <meta charset="utf-8" />
        <title>@Model.Title</title>
        <meta name="description" content="@Model.Description" />
        <meta name="keywords" content="@Model.Keywords" />

        <link rel="stylesheet" href="inline-css-bundle" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <meta property="og:title" content="@Model.OpenGraphTitle" />
        <meta property="og:type" content="@Model.OpenGraphType" />
        <meta property="og:url" content="@Model.OpenGraphUrl" />
        <meta property="og:image" content="@Model.OpenGraphImage" />
    </head>
}
